# BASIC
numpy
pandas
# ML & NLP
torch
spacy
scikit-learn
transformers
accelerate
lightning
torchmetrics
# DATA
datasets
# VISUALIZATION
matplotlib
# NOTEBOOKS
marimo[recommended]
# OTHER
pydantic
python-dotenv
tqdm